<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>즐겨찾기 추가</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>즐겨찾기 추가하기</h1>
		
		<div class="mt-3">
			<label for="name">제목</label>
			<input id="name" type="text" class="form-control">
		</div>	
		
		<div class="mt-3">
			<label for="url">주소</label>
			<input id="url" type="text" class="form-control">
		</div>	
		<button type="button" id="addBtn" class="mt-3 btn btn-success btn-block">추가</button>
	</div>
	
	<script>
		$(document).ready(function() {
			$("#addBtn").on("click", function(e) { // e는 없어도 됨.
				// alert("클릭");
				// validation check
				let name = $("#name").val().trim();
				let url = $("#url").val().trim();
				
				if (!name) {
					alert("제목을 입력하세요")
					return;
				}
				
				if (!url) {
					alert("주소를 입력하세요")
					return;
				}
				console.log(name);
				console.log(url);
				
				// TODO 주소 체크(http, https로 시작하는지)
				
				
				// AJAX 통신
				$.ajax({
					// request
					type:"post"
					, url:"/lesson06/add-bookmark"
					, data:{"name":name, "url":url}
				
					// response - callback
					, success:function(data) { // data의 값은 Controller로부터 String 형태로 넘어올 예정.
						alert(data);
						location.href = "http://localhost:8080/lesson06/bookmark-list";
					}
					, error:function() {
						alert("추가하는 데 실패했습니다.");
					}
				});
			});
		});
	</script>
	
</body>
</html>