<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>즐겨찾기 추가</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>즐겨찾기 추가하기</h1>
		
		<div class="mt-3">
			<label for="name">제목</label>
			<input id="name" type="text" class="form-control">
		</div>	
		
		<div class="mt-3">
			<label for="url">주소</label>
			
			<div class="d-flex">
				<input id="url" type="text" class="form-control mr-3">
				<button id="urlCheckBtn" type="button" class="btn btn-info" style="white-space:nowrap">중복확인</button>
			</div>
			<div id="urlCheckText"></div>
		</div>
		<button type="button" id="addBtn" class="mt-3 btn btn-success btn-block">추가</button>
	</div>
	
	<script>
		$(document).ready(function() {
			let isUrlChecked = false;
			
			// url 입력 시 중복확인 여부, 중복확인 텍스트 초기화
			$("#url").on("input", function() {
				isUrlChecked = false;
				$("#urlCheckText").empty();
			});
			
			$("#addBtn").on("click", function(e) { // e는 없어도 됨.
				let name = $("#name").val().trim();
				let url = $("#url").val().trim();
				// alert("클릭");
				// validation check
				if (!name) {
					alert("제목을 입력하세요")
					return;
				}
				
				if (!isUrlChecked) {
					alert("url 중복확인을 하세요")
					return;
				}
				//console.log(name);
				//console.log(url);
				
				// AJAX 통신
				$.ajax({
					// request
					type:"post"
					, url:"/lesson06/quiz01/add-bookmark"
					, data:{"name":name, "url":url}
				
					// response - callback
					, success:function(data) { // AJAX의 응답은 JSON(String임) => jquery가 JSON임을 알고 dictionary로 변환해줌.
						// 순수 ajax는 JSON String을 그냥 String으로 인식하므로 바로 사용하기 불편함.
						//alert(data.code);
						if (data.code == 200) {
							// 화면 이동
							location.href = "/lesson06/quiz01/bookmark-list-view";
						} else {
							// 로직 실패
							alert(data.error_massage); // 에러 원인
							
						}
					}
					, error:function() {
						alert("추가하는 데 실패했습니다.");
					}
				});
			});
			
			$("#urlCheckBtn").on("click", function() {
				let url = $("#url").val().trim();
				// 주소 체크(공백일 시)
				if (!url) {
					$("#urlCheckText").empty();
					$("#urlCheckText").append('<small class="text-danger">url을 입력하세요</small>');
					return;
				}
				
				// 주소 체크(http, https로 시작하는지)
				// http도 '아니고'(and) https도 아닌 경우 => 잘못된 주소
				if (!url.startsWith("http://") && !url.startsWith("https://")) {
					$("#urlCheckText").empty();
					$("#urlCheckText").append('<small class="text-danger">주소 형식이 잘못되었습니다</small>');
					return;
				}
				
				$.ajax({
					method:"post"
					,url:"/lesson06/quiz01/is-duplicated-url"
					,data:{"url":url}
					
					// response
					,success: function(data) {
						$("#urlCheckText").empty();
						// {"code":200, "is_duplicated:true"}
						if (data.is_duplicated) {
							// 중복일 때
							isUrlChecked = false;
							$("#urlCheckText").append('<small class="text-danger">중복된 url 입니다</small>');
						} else {
							// 중복아닐 때 => 사용 가능
							isUrlChecked = true;
							$("#urlCheckText").append('<small class="text-success">사용 가능한 url 입니다.</small>');
						}
					}
					, error: function() {
						alert("중복확인에 실패했습니다.");
					}
				})
				
			});
		});
	</script>
	
</body>
</html>